/* #1a4645 #183f3f    003366 CCCCCC E5DFDF */
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Moon+Dance&display=swap');

.skill-section{
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, #1a4645 25%, #e5dfdf 25%, #e5dfdf 50%, #1a4645 50%, #1a4645 75%, #e5dfdf 75%, #e5dfdf 100%);
background-size: 565.69px 565.69px;
}
.skill-container{
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  height: 85vh;
  background-color: #1a4645;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.6);
}

.skill-section-heading{
  position: relative;
  top: 5%;
  margin: 0 auto;
  height: fit-content;
  width: fit-content;
  text-align: center;

}
  
.skill-section-heading h1{
    margin: 0;
    font-size: 4em;
    color:#e5dfdf;
    text-transform: capitalize;
    font-family: 'Moon Dance', cursive;
}

.skills-items{
  position: relative;
  top: 10%;
  margin: auto;
  width: 80%;
  height: 65vh;
  
}

.skill-items-container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-item-box{
  width: 18%;
  height: 30vh;
  background-color: #e5dfdf;
  box-shadow: 0px 0px 5px black;
}

.skill-item-box:hover{
  box-shadow: 0px 0px 20px black;
  transition: .5s ease-in-out;

}

.skill-item-box-logo{
  position: relative;
  top: 2%;
  margin: auto;
  height: 20vh;
  width: 80%;
  /* background-color: #e5dfdf; */
}
.skill-item-box-logo img{
  height: 100%;
  width: 100%;
}

.skill-item-box-name{
  position: relative;
  top: 3%;
  width: fit-content;
  margin: auto;
  text-align: center;
}

.skill-item-box-name h1{
  margin: 0;
  padding: 0;
  color: black;
  font-size: 1.25em;
}


@media screen and (max-width:1000px) {
  .skill-item-box{
    height: 25vh;
  }
  .skill-item-box-logo{
    height: 15vh;
  }
  
  .skill-item-box-name{
    top: 3%;
  }
}


@media screen and (max-width:900px) {
  .skill-item-box{
    height: 21vh;
    width: 19%;
  }
  .skill-item-box-logo{
    height: 15vh;
  }
  .skill-item-box-name h1{
    font-size: 1em;
  }
}




@media screen and (max-width:500px) {
  
  .skill-section{
    /* max-width: fit-content; */
  }
  .skill-container{
    /* height: fit-content; */
  } 
  .skills-items{
    width: 100%;  
  }
  .skill-items-container{
      gap: 5px;
  }
  .skill-item-box{
    width: 25%;
    height: 15vh;
  }
  .skill-item-box-logo{
    height: 10vh;
  }
  .skill-section-heading h1{
    font-size: 2.5em;
  }
  .skill-item-box-name h1{
    font-size: .75em;
  }
}